<div id="search-container">
  <img src="img/fork.png" alt="Fork and spoon" id="fork">
  <div id="search-form">
    <h3>Search by Location</h3>
    <form ng-submit="zomato.searchCities()">
      <input type="text" placeholder="Enter City Name" id="search-input" ng-model="zomato.cityInput">
      <input type="submit" value="Search">
    </form>
  </div>
</div>
<div id="location-results">
  <div ng-if="zomato.isViewLocationResultsActive">
    <ul ng-if="!zomato.noCities">
      <li ng-repeat="location in zomato.locationSuggestions">
        <a ng-click="zomato.findRestaurants(location.id);">{{location.name}}</a>
        <i class="fa fa-map-pin fa-lg" aria-hidden="true" ng-click="zomato.saveLocation(location);" ng-if="main.sessionActive"></i>
      </li>
    </ul>
    <ul ng-if="zomato.noCities">
      <li>Can't find that city, please try again!</li>
    </ul>
  </div>
  <div ng-if="!zomato.isViewLocationResultsActive">
    <ul>
      <li>Search for a city now!</li>
    </ul>
  </div>
</div>
